---
layout: default
---

<div id="wrapper">
    {% include header.html %}
    <div id="content">
        {{ content }}
    </div>

    <footer class="site-footer">
        <div class="inner">
            <ul class="list-inline secondary-nav">
                <li><a class="logo" href="/"><img src="/assets/img/logo.png" width="32" height="32" alt="underlost logo"></a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/portfolio/">Selected Work</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
            <small class="copyright">Copyright &copy; 2002–2015. Last <a href="https://github.com/underlost/underlost.net/">updated {{ site.time | date: "%B %d, %Y" }}</a>.</small>
        </div>
    </footer>

</div>
