---
layout: default
title: Selected Work
deck: projects I've Worked on
slug: portfolio
---

{% if page.color %}
<style type="text/css">
    h2.heading:before { background-color: RGBA({{ page.rgba }}); }
</style>
{% endif %}

<div class="layout-single-column fadeRight">
    <h2 class="heading"><span>{{page.title}}</span></h2>
    {{content}}
    {% if page.next_page or page.previous_page  %}
    <ul class="pager fadeUp">
        <li class="previous"><a href="/portfolio/{{page.previous_page}}/"><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li class="next"><a href="/portfolio/{{page.next_page}}/">Next <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
    {% endif %}
</div>

{% if page.show_gallery %}
<div class="layout-single-column fadeLeft">
    <div id="recent-portfolio-container" class="portfolio-picks">
        <ul class="list-inline clearfix" id="recent-portfolio">
        {% for post in site.portfolio reversed %}
            <li class="col-xs-6 portfolio-item">
                <a class="thumbnail img-rounded" alt="{{ post.title }}" href="/portfolio/{{ post.slug }}/" style="background-image: url('{{ post.image }}');">
                    <p><span>{{ post.title }}:</span> <small>{{ post.deck }}</small></p>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
