---
layout: panels
title: Selected Works
deck: projects I've Worked on
slug: portfolio
---

{% if page.color %}
<div id="selected-work-bg"></div>
<div id="selected-work" class="content-section" style="background-color:RGBA({{ page.rgba }})">
{% else %}
<div id="selected-works" class="content-section">
{% endif %}
    <div class="vertical">
        <div class="content-inner">
            <div class="content-panel layout-foreground fadeRight">
                <div class="layout-single-column">
                    <h1 class="heading">{{page.title}}</h1>
                    {% if page.image %}
                    <img class="pull-right img-rounded" src="{{ page.image }}" height=120 width=120 alt="{{ post.title }}">
                    {% endif %}
                    <p>{{content}}</p>

                    {% if page.show_gallery %}
                    <ul id="recent-portfolio-minimal">
                        {% for post in site.portfolio reversed %}
                        <li><a alt="{{ post.title }}" data-toggle="modal" data-target="#{{ post.slug }}Modal" href="#{{ post.slug }}Modal">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% if page.show_gallery %}
            <div class="container-fluid portfolio-picks fadeRight" id="recent-portfolio-container">
                <ul class="list-inline clearfix" id="recent-portfolio">
                    {% for post in site.portfolio reversed %}
                    <li class="col-xs-1 portfolio-item">
                        <a alt="{{ post.title }} <small>{{ post.deck }}</small>" href="/portfolio/{{ post.slug }}/" style="background-image: url('{{ post.image }}');">
                        <p>{{ post.title }}</p></a>
                    </li>
                    {% endfor %}
                </ul>
                <h2>Selected Works.</h2>
            </div>
            {% endif %}

            {% if page.next_page or page.previous_page  %}
            <nav class="selected-works-panel">
                <ul class="pager">
                    <li class="previous"><a href="/portfolio/{{page.previous_page}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a href="/portfolio/{{page.next_page}}">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
            {% endif %}

        </div>
    </div>
</div>


{% if page.show_gallery %}
{% for post in site.portfolio reversed %}
<div class="modal underlost-modal fade" id="{{ post.slug }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ post.slug }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#{{ post.color }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                <h4 class="modal-title" id="myModalLabel">{{ post.title }}</h4>
            </div>
            <div class="modal-body">
                <p class="lead">{{ post.deck }}</p>
                <img src="{{ post.image }}" class="img-rounded img-responsive" alt="{{ post.title }}">

                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
