---
layout: panels
---

<div class="page">
    <section id="river">
        <header class="page-head">
            <div class="layout-foreground layout-fill-height">
                <div class="align-block">
                    <h1 class="page-title">{{page.title}}</h1>
                    <p class="page-description blog-description-tagline">{{ page.deck }}</p>
                </div>
            </div>
        </header>

        <div class="post-page-wrapper">
            {{ content }}
        </div>

    </section>
</div>
