.site-geocities {
  background-image: url('../img/img_stars.gif');
  height: 100vh;
  width: 100%;

  .hero_overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    height: 100vh;
    background-image: -webkit-linear-gradient(60deg, rgba(67, 83, 255, 0) 40%, rgba(67, 83, 255, .8));
    background-image: linear-gradient(30deg, rgba(67, 83, 255, 0) 40%, rgba(67, 83, 255, .8));
  }

  .hero_container {
    position: relative;
    z-index: 5;
    .hero_logo {
      max-width: 550px;
    }
  }
}

.geo_text {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 0 0 15px rgba(0, 255, 128, .75);
  font-family: VT323, sans-serif;
  color: #00ff80;
}

.hero_logo,
.hero_logo__inner,
.hero_logo__inner2 {
  width: 500px;
  height: 300px;
  background-image: url('../img/underlost.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_logo {
  position: relative;
  overflow: hidden;
  .hero_logo__inner,
  .hero_logo__inner2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
  }
  .hero_logo__inner {
    clip: rect(60px, 9999px, 60px, 0);
    animation: noise-anim 4s infinite step-end;
  }

  .hero_logo__inner2 {
    clip: rect(60px, 9999px, 60px, 0);
    animation: noise-anim-2 4s infinite step-end;
  }
}
