
// Legacy support for wordpress Blocks
.wp-block-columns {
  display: flex;
  margin-bottom: 28px;
  flex-wrap: nowrap;

  .wp-block-column {
    flex-basis: calc(50% - 16px);
    flex-grow: 0;
  }
}

.wp-block-image {
  max-width: 100%;
  margin-bottom: 1em;
  img {
    max-width: 100%;
  }
}
