/* Pagination
/* ---------------------------------------------------------- */

.pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4vw 0 0;
  a {
    font-size: 1.4rem;
    line-height: 1em;
  }
}

.pagination-location {
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  color: var(--color-secondary);
  font-size: 1.3rem;
}
