.portfolio-wrapper {
  .site-head {
    position: absolute;
    left: 0;
    right: 0;
  }

  .site-brand {
    display: none !important;
  }
}

.portfolio-header {
  height: 90vh;
  background-color: $dark;
}

.project-details-list {
  li:not(:last-child) {
    &::after {
      padding-left: .5rem;
      content: '//';
    }
  }
}

.portfolio-feed {
  .post-card-image {
    height: 375px;
  }
}