
.post-text-wrapper {
  .post-text {
    &:hover {
      .post-text-header {
        text-decoration: underline;
      }
    }
  }

}

.post-text-header {
  .h4 {
    font-size: 1.5rem;
  }
}

.post-text-excerpt {
  * {
    display: inline;
    font-size: 1.5rem;
  }
}
