{
  "presets": [
    [
      "babel-preset-gatsby"
    ]
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "html",
          "markup",
          "json",
          "handlebars",
          "yaml",
          "python"
        ],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
