@media all and (max-width:800px) {
    .vertical {display: block; margin: 40px auto; }
    .site-toolbar {
        margin-left: 0;
        height: 70px;
    }
    .site-head { display: none; }
    .content-section {
        .content-inner {margin-left: 0;}
        .content-panel {
            padding: 25px 25px;
            h1 {font: 24px/29px @font-family-sans-serif;}
        }
    }

    .site-footer {
        text-align: center;
        background: rgba(0,0,0,0.5);
        .inner {margin: 0; width: 100%;}
        .logo {img {width: 24px; height: 24px;}}
        .secondary-nav {display: block; margin: 0 auto;}
        .copyright {display: none;}
    }

    .lithium-flower {
        margin-top: 85px;
        .lithium-panel {
            position: relative; left: 0; right: 0;
            margin: 25px auto 0;
            padding: 0;
            background: none;
        }
    }

    .rings-medium,
    .rings-large {
        position: relative;
        height: 230px;
        width: 230px;
        margin: 0 auto;

        .ring {
            position: absolute;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .one {
            width: @ring-small-1;
            height: @ring-small-1;
            background-size: @ring-small-1 @ring-small-1;
            background-image: url('../img/rings/ring_01.png');
            top: 0; left: 0;
        }

        .seven {
            width: @ring-small-2;
            height: @ring-small-2;
            background-size: @ring-small-2 @ring-small-2;
            background-image: url('../img/rings/ring_05.png');
            top: 20px; left: 20px;
        }

        .two, .three, .four, .five, .six {display: None;}

    }

    .no-backgroundsize {
        .ring, .one, .two, .three, .four,
        .five,.six, .seven {background-image: none; display: none;}
        .rings-medium,
        .rings-large {background-image: url('../img/rings/ring_static_small.png');}
    }

    #recent-portfolio-container {display: none;}
    #recent-portfolio-minimal {display: block;}
    #contact {p.lead strong {display: block;}}
    #selected-work {margin-bottom: 55px;}

    #work {background-image: none;}
}

@media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
       only screen and (    min--moz-device-pixel-ratio: 1.3 ),
       only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
       only screen and (         min-device-pixel-ratio: 1.3 ),
       only screen and ( min-resolution: 124.8dpi ),
       only screen and ( min-resolution: 1.3dppx ) {

           #index {background-image: url('../img/background/index@2x.jpg');}
           #contact {background-image: url('../img/background/contact@2x.jpg');}
           #colophon, .page {background-image: url('../img/background/colophon@2x.jpg');}
           #selected-works {background-image: url('../img/background/selected-works@2x.jpg');}
           #error404 {background-image: url('../img/background/error@2x.jpg');}

}
