.page-head {
    height: 420px;
    text-align: center;

    .align-block {
        margin-top: 50px
    }

    .page-title {
        font-size: 48px;
        font-weight: 700;
        font-family: @font-family-sans-serif;
        margin-bottom: 0
    }

    .page-description {
        font-size: 22px;
        line-height: 33px;
        font-weight: 300;
        font-family: @font-family-serif;
        margin: 0 0 10px 0;
        padding: 0;
        letter-spacing: .2rem;
    }
}


.post-page-wrapper {
    margin-top: 15px;
    position: relative;
    z-index: 500;

    a { color: #f2f2f2; }
}

.post-page-wrapper>p {
    font: 22px/33px @font-family-serif;
    letter-spacing: .05rem;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 33px;
    color: #999;

}

.post-page-wrapper>h3 {
    font-weight: 700;
    color: #f2f2f2;
}
