/* Web fonts */

@font-face {
    font-family: 'tf2regular';
    src: url('../fonts/tf2-webfont.eot');
    src: url('../fonts/tf2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tf2-webfont.woff2') format('woff2'),
         url('../fonts/tf2-webfont.woff') format('woff'),
         url('../fonts/tf2-webfont.ttf') format('truetype'),
         url('../fonts/tf2-webfont.svg#tf2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tf2_build';
    src: url('../fonts/tf2build-webfont.eot');
    src: url('../fonts/tf2build-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tf2build-webfont.woff2') format('woff2'),
         url('../fonts/tf2build-webfont.woff') format('woff'),
         url('../fonts/tf2build-webfont.ttf') format('truetype'),
         url('../fonts/tf2build-webfont.svg#tf2_buildtf2_build') format('svg');
    font-weight: normal;
    font-style: normal;

}

#classWrap {
    position: relative;
    z-index: 5000;
}

#classNav {
    background-color: #c2c2bb;
    border-color: #babbb5;
    color: #4f4944;
    font-family: 'tf2_build', @font-family-sans-serif;
    text-shadow: none;
    -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.25);

    .navbar-brand {margin-right: 40px; color: #4f4944; }
}

#classCard {
    margin-top: 50px;
    min-height: 600px;
    background: #cfcfcf url('../img/work/bg_01.jpg') center center no-repeat;
    background-size: cover;
    color: #46423d;

    -webkit-box-shadow: inset 0px -10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px -10px 20px 0px rgba(0,0,0,0.75);


    h1 {
        margin: 190px 0 30px;
        transform: rotate(-2deg);
        font-size: 84px; line-height: 64px;
        font-family: 'tf2_build', @font-family-sans-serif;
        color: #403b37;
        letter-spacing: -1px;
        span {display: block; font-size: 22px; line-height: 24px;}
    }

    .classBioText {}
    .classPoseL img{ width: auto; height: auto;}
}

#movieCard {
    min-height: 600px;
    background-color: #282522;
}

#arsenalCard {
    min-height: 600px;
    background-color: #1c1918;
}
