#classWrap {
    position: relative;
    z-index: 5000;
}

.text-wrap > p {
    font-size: 27px;
    line-height: floor((27px * @line-height-base));
    font-weight: 300;
}

#lookingforCard { margin-bottom: 50px; }

#classCard {
    padding: 0;
    position: relative;
    margin: 50px 0;

    background: url('../img/work/bg_03.jpg') center center no-repeat;
    background-size: cover;

    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);

    p.lead {
        padding: 120px 0;
        text-align: center;
        position: relative;
        z-index: 1000;
        color: #f2f2f2;

        font-size: 33px;
        line-height: floor((33px * @line-height-base));
        font-weight: 100;
    }

    .classPoseL {
        display: none;
        z-index: 20;
        position: absolute;
        bottom: 0;
    }

    h1 {
        margin: 30px 0;
        transform: rotate(-2deg);
        font-size: 84px; line-height: 64px;
        font-family: 'tf2_build', @font-family-sans-serif;
        color: #333;
        letter-spacing: -1px;
        span {display: block; font-size: 22px; line-height: 24px; letter-spacing: 1px;}
    }
    .classPoseL img {width: auto; height: auto;}
}

#worksCard {
    height: 152px;
    overflow: hidden;
    border-top: 1px solid #666;
    border-bottom: 1px solid #ccc;
    background-color: #cfcfcf;
}

#githubCard {
    padding: 150px 0;
    background: url('../img/work/bg_02.jpg') center center no-repeat;
    background-size: cover;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin: 50px 0;

    a.btn-default {
        margin: 20px;
        border: 2px solid #f2f2f2;
    }
}
