.work {
    background: url('../img/pattern.png');
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;

    small {
        display: block;
        margin: 4px 0 25px;
        font-size: 14px;
        font-weight: 400;
        text-shadow: 0 1px 0 rgba(255,255,255,.25);
    }

    p {
        padding-bottom: 18px;
        font-size: 17px;
        line-height: 24px;
        font-weight: 400;

        a {color: #f2f2f2}
    }

    .btn-default {
        color: rgba(255,255,255,.85);
        border-width: 0;
        background: rgba(0,0,0,.2);
    }

    .photo {
        display: block;
        max-width: 475px;
        height: auto;
    }

    .photo img {
        width: 100%;
        height: auto;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        -ms-transition-delay: 0;
        -o-transition-delay: 0;
        transition-delay: 0;

        -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, .2), 0 2px 3px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 0px 20px rgba(0, 0, 0, .2), 0 2px 3px rgba(0, 0, 0, .2);
        -o-box-shadow: 0 0px 20px rgba(0, 0, 0, .2), 0 2px 3px rgba(0, 0, 0, .2);
        box-shadow: 0 0px 20px rgba(0, 0, 0, .2), 0 2px 3px rgba(0, 0, 0, .2);
    }
}

.works-nav {
    z-index: 100;
    padding: 10px 20px 8px;
    text-transform: uppercase;
    color: #f2f2f2;
    font-weight: 400;
    background: rgba(0,0,0,.1);
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    .clearfix();

    a {color: #f2f2f2;}

    .next, .previous {padding: 0 10px}
}


/* @group Replica */

#replica small {
    color: #4b4f50;
}

#replica p {
    color: #565b5c;
    text-shadow: 0 1px 1px rgba(255,255,255,.2);
}

/* @end */

/* @group Jaded Gamer */

#jadedgamer small {
    color: #284d30;
}

#jadedgamer p {
    color: #305938;
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

/* @end */

/* @group Gamer News */

#gamernews small {
    color: darken(#952067, 15%);
    text-shadow: 0 1px 1px rgba(255,255,255,.1);
}

#gamernews p {
    color: darken(#952067, 20%);
    text-shadow: 0 1px 1px rgba(255,255,255,.2);
}

/* @end */

/* @group Mbarrington */

#mbarrington small {
    color: #6f4d12;
}

#mbarrington p {
    color: #7e5713;
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

/* @end */

/* @group Designcor */

#designcor small {
    color: #405805;
}

#designcor p {
    color: #516e07;
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

/* @end */

/* @group Vapor */

#vapor p {
    color: #686562;
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

#vapor small {
    color: #53514f;
    text-shadow: 0 1px 1px rgba(255,255,255,.2);
}
