---
import { getPage, getAsidePosts } from '@/utils/ghost'
import { BodyClass } from '@/utils/BodyClass'
import Layout from '@/layouts/Layout.astro'
import Newsletter from '@/components/sections/Newsletter.astro'
import RecentAsides from '@/components/sections/RecentAsides.astro'

const page = (await getPage(`notes`)) || ({} as any)
const posts = await getAsidePosts()

const tags =
  (page &&
    page.tags?.map((tag: { id: any; name: any; slug: any }) => ({
      id: tag.id,
      name: tag.name,
      slug: tag.slug,
    }))) ||
  undefined

const bodyClass = BodyClass({ page: page, tags })
---

<Layout
  bodyClass={`page-template page-notes ${bodyClass}`}
  isHome={false}
  title={page.og_title || page?.title || 'Current Projects'}
  description={page.og_description || page.meta_description || page.excerpt}
  ogImage={page?.og_image || page?.feature_image}
  twitterImage={page?.twitter_image || page?.feature_image}
  image="/images/background_default.jpg"
>
  <div class="container-wrapper">
    <div class="tag-color-scheme-o container-inner">
      <RecentAsides posts={posts.posts} collectionPath="notes/" />
    </div>

    <Newsletter />
  </div>
</Layout>
