---
layout: default
title: Selected Works
deck: By Tyler Rilling
slug: works
---

<div id="selected-works" class="content-section">
    <div class="vertical">
        <div class="content-inner">
            <div class="content-panel layout-foreground fadeRight">
                <div class="layout-single-column">
                    <h1 class="heading">{{page.title}}</h1>
                    <p>Some text here.</p>
                </div>
            </div>
            <div class="selected-works-panel fadeRight">
                <div class="container-fluid">
                    <div class=" row">
                        {% for post in site.portfolio reversed %}
                            <div class="col-xs-2">
                                <a href="#" class="thumbnail" data-toggle="modal" data-target="#{{ post.slug }}Modal">
                                    <img src="{{ post.image }}" height=300 width=300 alt="{{ post.title }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for post in site.portfolio reversed %}
<div class="modal fade" id="{{ post.slug }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ post.slug }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ post.title }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
