---
layout: panels
title: Meet the Dev
deck: Meet The Dev
slug: work
---

<div id="work" class="content-section">
    <div class="content-inner">
    <div id="classCard">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1><span>Meet The</span>Developer</h1>

            		<div id="classBioText" class="col-md-6">
                        <p class="lead">Currently based in Seattle, Washington, I’m a creative developer &amp; UI designer with a passion for user experience.
                            From sketch to design, coding to bug fixing, I do it all.</p>
            		</div>
                </div>
                <div class="col-md-4">
                    <div class="classPoseL">
                        <img class="img-responsive" alt="sfm_pose" src="/assets/img/work/pose_1.png" />
                    </div>
                </div>
            </div>
        </div><!-- /container -->
	</div>

    <div id="qualificationsCard">
        <div class="container">
            <div class="row">
                <div class="text-wrap center-block col-md-4" style="float: none;">
                {% capture job_qualifications %}{% include job_qualifications.md %}{% endcapture %}
                {{ job_qualifications | markdownify }}
                </div>
            </div>
        </div><!-- /.container -->
	</div>

    <div id="githubCard">
        <div class="container">
            <div class="row">
                <div class="center-block col-md-4" style="float: none;">
                    <p class="text-center">
                        <a class="btn btn-default btn-lg" href="/portfolio/" role="button">Selected Works</a>
                        <a class="btn btn-default btn-lg" href="https://github.com/underlost?tab=repositories" role="button"><i class="fa fa-github-alt"></i> Github</a>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </div>

    <div id="lookingforCard">
        <div class="container">
            <div class="row">
                <div class="text-wrap center-block col-md-4" style="float: none;">
                {% capture job_looking %}{% include job_looking.md %}{% endcapture %}
                {{ job_looking | markdownify }}
                </div>
            </div>
        </div><!-- /.container -->
    </div>

    <div id="footerCard">
        <div class="container">
            <div class="text-wrap center-block col-md-4" style="float: none;">
            <small class="copyright">Copyright &copy; 2002–2015 Tyler Rilling. Last <a href="https://github.com/underlost/underlost.net/">updated June 05, 2015</a>.</small>
            </div>
        </div><!-- /container -->
    </div>
</div>
</div>
