---
import type { Author } from "@tryghost/content-api";
import { getAllAuthors, getPostsbyAuthor } from "@/utils/ghost";
import PageHeader from "@/components/pages/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";
import EntryGrid from "@/components/entries/EntryGrid.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const pages = await getAllAuthors();

  return pages.map((page) => {
    return {
      params: {
        slug: page.slug,
      },
      props: {
        page: page,
      },
    };
  });
}

const page = Astro.props.page as Author;
const posts = await getPostsbyAuthor({ slug: page.slug });

---

<Layout
  bodyClass={`page-template page-tag tag-color-scheme-c layout-fullbleed`}
  title={page.name || "tag"}
  description={page?.meta_description || page?.bio}
  ogImage=""
  twitterImage=""
>
  <article class="layout-fullbleed">
    <div class="container lg:pt-24 mb-11 my-11 relative lg:min-h-[300px]">
      {
        page.profile_image && (
          <figure class="page-full-image">
            <Image
              src={page.profile_image}
              alt={page?.name || "Photo of author"}
              loading="eager"
              height={800}
              width={800}
            />
          </figure>
        )
      }
      <div class="max-w-5xl mx-auto relative">
        <PageHeader
          title={page?.name}
          excerpt={page?.bio}
          size="large"
        />
      </div>
    </div>

    <div class="inner py-11">
      <div class="max-w-lg mx-auto my-16 squiggle s3 px-8" />
        <EntryGrid
          title="Recent Posts"
          className=""
          posts={posts}
          collectionPath="writing/"
        />
      </div>
    </div>
  </article>
</Layout>
