{% include header.html %}
	<body class="main">
		<header id="underlost-info">
			<a id="logo" href="/#top"><img src="/assets/img/logo.png" width="32" height="32" alt="underlost logo"></a>
			<ul class="list-unstyled" id="underlost-contact">
				<li>Phone: +1 (608) 403-5501</li>
				<li>Email: tyler@underlost.net</li>
			</ul>
		</header>

		<footer id="underlost-social">
			<a href="mailto://tyler@underlost.net?subject=Hello"><i class="fa fa-envelope fa-lg"></i></a>
			<a href="http://twitter.com/underlost"><i class="fa fa-twitter fa-lg"></i></a>
			<a href="http://github.com/underlost"><i class="fa fa-github fa-lg"></i></a>
			<a href="http://www.flickr.com/photos/underlost/"><i class="fa fa-flickr fa-lg"></i></a>
			<a href="http://instagram.com/underlost/"><i class="fa fa-instagram fa-lg"></i></a>
			<a href="http://alifewellplayed.com/"><i class="fa fa-gamepad fa-lg"></i></a>
		</footer>

		<section id="panels">
		{{ content }}
		</section>
	</body>
{% include footer.html %}
