---
layout: default
---
<div class="panel work" id="{{ page.slug }}" style="background-color:#{{ page.color }}">
	<div class="container" data-background="{{ page.color }}">
		<div class="vertical">
			<div class="col-md-5">

				<nav class="works-nav">
					<div class="pull-right">
					{% if page.previous_page %}
					<a href="/{{page.previous_page}}/" class="previous"><i class="fa fa-chevron-circle-left"></i> Previous</a>
					{% else %}
					<span class="previous"><i class="fa fa-chevron-circle-left"></i> Previous</span>
					{% endif %}
					{% if page.next_page %}
					<a href="/{{ page.next_page }}/" class="next">Next <i class="fa fa-chevron-circle-right"></i></a>
					{% else %}
					<span class="next ">Next <i class="fa fa-chevron-circle-right"></i></span>
					{% endif %}
					</div>
					<span class="hidden-xs">Selected Works</span>
				</nav>

				<h1 class="heading">{{ page.title }}</h1>
				<small>{{ page.deck }}</small>
				{{ content }}
			</div>

			<div class="col-md-5">
				<span class="photo">
					<img src="{{ page.image }}" class="img-rounded" alt="Screenshot of {{ page.title }}">
				</span>
			</div>
		</div>
	</div>
</div>
