.btn {
  background-color: $black;
  color: $white;
  transition: all .3s ease;
  letter-spacing: 1.5px;
  &>svg {
    transition: all .3s ease;
  }
  &:hover {
    &>svg {
      transform: translateX(8px);
    }
  }
}

.btn-default {
  border: 1px solid $body-color;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  position: relative;
  border-color: $seaBlue;


  & > svg {
    transition: all .3s ease;
    max-height: 33px;
  }

  &::before, &::after {
    transition: all .3s ease;
    background-size: 10px 10px;
    display: block;
    bottom: -10px;
    content: '';
    position: absolute;
    //opacity: .25;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='stripe-svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M-1,1 l2,-2 M0,10 l10,-10 M9,11 l2,-2' stroke='%23CF2D7D' stroke-width='1' /%3E%3C/svg%3E");
  }
  &::before {
    right: -10px;
    height: 100%;
    width: 6px;
  }
  &::after {
    left: 6px;
    height: 6px;
    width: calc(100% - 5px);
  }
  &:hover {
    background-color: $spidergwenPink;
    color: $black;
    border-color: $spidergwenPink;
    &::before, &::after {
      opacity: 1;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='stripe-svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M-1,1 l2,-2 M0,10 l10,-10 M9,11 l2,-2' stroke='%23FFFFFF' stroke-width='1' /%3E%3C/svg%3E");
    }
    &>svg {
      transform: translateX(15px);
    }
  }
}
