.text-green { color: $swampGreen; }
.text-pink {color: $spidergwenPink }
.text-orange {color: $crushOrange }
.text-blue {color: $seaBlue }
.text-transparent {color: transparent;}

.green-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $swampGreen;
}

.bg-blue {
  background-color: $seaBlue;
  color: $black;
}