/* nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display:swap;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
         url('/fonts/nunito-sans-v5-latin-regular.woff2') format('woff2'),
         url('/fonts/nunito-sans-v5-latin-regular.woff') format('woff');
  }

  /* nunito-sans-600 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-display:swap;
    src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'),
         url('/fonts/nunito-sans-v5-latin-600.woff2') format('woff2'),
         url('/fonts/nunito-sans-v5-latin-600.woff') format('woff');
  }

  /* nunito-sans-700 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-display:swap;
    src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
         url('/fonts/nunito-sans-v5-latin-700.woff2') format('woff2'),
         url('/fonts/nunito-sans-v5-latin-700.woff') format('woff');
  }

  /* nunito-sans-900 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    font-display:swap;
    src: local('Nunito Sans Black'), local('NunitoSans-Black'),
         url('/fonts/nunito-sans-v5-latin-900.woff2') format('woff2'),
         url('/fonts/nunito-sans-v5-latin-900.woff') format('woff');
  }
