@import url("https://use.typekit.net/vjt4xdi.css");


.title {
    &.lead {
        font-weight: 600;
        font-size: 34px;
        letter-spacing: 2px;
        line-height: 1.2;
    }
}

.subtitle {
    font-size: 16px;
    letter-spacing: 0.8px;
    &::before {
        content: '// ';
    }
}