.site-header {
  position: relative;
  svg {
    stroke-width: 1.5px;
    max-height: 60px;
  }
  .svg-container {
    position: relative;
    &::after {
      display: block;
      content: '';
      height: 4px;
      width: 50px;
      margin-top: 1rem;
      margin-bottom: 2.5rem;
      background-color: $primary;
    }
  }
}
.site-header-sm {
  svg {
    height: 35px;
    path {stroke-width: 1.5px; fill: none; stroke: $primary}
  }
  &::before {
    content: '┏';
    position: absolute;
    left: -30px;
    top: -25px;
    color: $primary;
    transition: all .3s ease;
  }
  &::after {
    display: block;
    content: '';
    height: 2px;
    width: 50px;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    background-color: $primary;
    transition: all .3s ease;
  }
  &:hover {
    &::after {
      //transform: translateX(100%);
      width: 100%;
    }
    &::before {
      color: $secondary;
    }
  }
}

.st0 {
  stroke: #9588FC;
  stroke-width: 1; // must set this for DrawSVG to work
  stroke-miterlimit: 1;
  stroke-linejoin: round; // makes the ends of the stroke rounded
  visibility: hidden;
}

@include media-breakpoint-down(md) {
  .site-header-sm svg {
    height: 20px;
  }
}
