a { transition: 0.3s ease all; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page {
  transition: all .3s;
  overflow-x: hidden;
  position: relative;
  z-index: 10;
}

.site-branding {
  font-size: 110px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.hidden {
  opacity: 0;
}

.image-fixed-overlay {
  width: 100%;
  margin-right: auto;
  @include media-breakpoint-down(md) {
    img {
      object-position: center center !important;
    }
  }
  @include media-breakpoint-up(lg) {
    width: 70%;
  }
  @include media-breakpoint-up(xl) {
    width: 60%;
  }
}

@include media-breakpoint-up(lg) {
  .videoOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
}


