a { transition: 0.3s ease all; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page {
  transition: all .3s;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

.site-branding {
  font-size: 110px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.hidden {
  opacity: 0;
}

.image-fixed-overlay {
  width: 100%;
  margin-left: auto;
}

@include media-breakpoint-up(lg) {
  .image-fixed-overlay {
    width: 60%;
  }
}
