.portfolio-item {
  margin-bottom: 10rem;
  .image-wrapper {
    position: relative;
    height: 400px;
      & > div {
      height: 100%;
      left: 0;
      position: absolute !important;
      top: 0;
      width: 100%;
      & > div {
        position: static !important;
      }
    }
  }
}
