//fontawesome
$fa-font-path: "../fonts";

$white: #fff;
$black: #000;

$seaBlue: #00FFFF;
$seaBlueDark: #00A0B0;
$spidergwenPink: #FF00BB;
$spidergwenPinkDark: #CF2D7D;

$swampGreen: #DFD360;
$earthBrown: #6A4A3C;
$candyappleRed: #FF6045;
$slateGray: 374240;
$spidergwenPink: #CF2D7D;
$crushOrange: #FF6C2D;

//bootstrap
$primary: $spidergwenPink;
$secondary: $seaBlue;
$body-bg: $black;
$body-color: $white;
$link-color: $body-color;
$link-hover-color: $primary;
$font-size-base: 1.25rem;
$font-family-sans-serif:  'Nunito Sans', "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-weight-base: 400;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 900;

$link-decoration: none;

//pace
$pace-color: $primary;

$border-radius:     0rem;
$border-radius-lg: 0rem;
$border-radius-sm: 0rem;

$hr-border-color: rgba($white, .5);


// Buttons
$btn-font-weight: bold;
$input-btn-padding-y: 1rem !default;
$input-btn-padding-x: 1.5rem !default;


$container-max-widths: (
  sm: 540px,
  md: 820px,
  lg: 1340px,
  xl: 1600px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1600px
);
