html,
body {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  @apply bg-cloud-white text-midnight-black transition duration-300 ease-in-out antialiased;
  @apply dark:bg-midnight-black dark:text-cloud-white;
}

.site-main {
  @apply relative z-10;
}

.container {
  @apply mx-auto relative z-10;
}

.container-wrapper {
  @apply container mx-auto z-10;
}

.container-inner {
  @apply p-3 md:p-8 lg:p-16 relative z-20;
}

.container-border {
  @apply border-t-2 border-l-2 border-r-2 md:border-t-8 md:border-l-8 md:border-r-8 lg:border-t-16 lg:border-l-16 lg:border-r-16;
}

.container-intro {
  @apply relative z-10 max-w-4xl mx-auto my-11 px-4 xl:px-0;
}

.container-content {
  @apply relative z-10 max-w-4xl mx-auto py-12 pt-22 lg:pt-42 px-4 xl:px-0;

  &.gh-canvas {
    @apply px-0;
  }
}

.featured-image-blob {
  mask-image: url('/images/svg/featured_image_blob.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  @apply absolute left-8 right-8 lg:left-0 lg:right-0 top-3 md:top-12 w-auto h-[400px] z-10 mx-auto max-w-3xl;
}

.layout-fullbleed {
  .page-full-image {
    @apply m-auto max-w-2xl absolute inset-0 h-[80%] lg:h-full mix-blend-multiply z-[2] opacity-35 pointer-events-none;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.background-image {
  @apply fixed inset-0 z-0 pointer-events-none;
  img, video {
    @apply object-cover w-full h-full;
  }
}

.hover-shadow {
  @apply transition duration-300 ease-in-out;
  &:hover {
    @apply shadow-[inset_0_-0.5em_0_0];
  }
}