html,
body {
  @apply bg-white transition duration-300 ease-in-out antialiased dark:bg-[#131313] dark:text-white;
}

.bg-splatter {
  background: url(/images/splatter.jpg) top;
  background-size: auto;
  background-size: 1132px 1014px;
  @apply transition-all duration-150 ease-in-out;
}

.dark .bg-splatter {
  background: url(/images/splatter-dark.jpg) top;
  background-size: auto;
  background-size: 1132px 1014px;
}

.post-card-primary-tag {
  @apply font-mono uppercase;
}

.swiper-slide {
  opacity: 0;

  &.swiper-slide-active {
    opacity: 1;
  }
}

.stacked-sm {
  @apply bg-white border border-black text-black p-5 lg:p-11 w-full relative rounded-sm z-10 antialiased;
  @apply dark:border-white dark:bg-[#131313] dark:text-white;
  @apply shadow-[10px_10px_0_-1px_#fff,_10px_10px_0_#000];
  @apply dark:shadow-[10px_10px_0_-1px_#131313,_10px_10px_0_#fff];
  @apply transition-all duration-150 ease-in-out;
}

.image-logo-wrapper img {
  @apply invert dark:filter-none dark:invert-0;
}


.btn {
  @apply bg-white border-2 border-black rounded font-mono font-bold px-5 py-3 inline-block shadow-[3px_3px_0_-1px_#000,_3px_3px_0_#000] transition-all duration-150 ease-in-out;
  @apply dark:shadow-[3px_3px_0_-1px_#fff,_3px_3px_0_#fff] dark:border-white dark:bg-black;

  &:hover {
    @apply shadow-[0_0_0_-1px_#fff,_0_0_0_#fff] translate-x-[3px] translate-y-[3px];
  }

  &.btn-lg {
    @apply text-lg;
  }
}

.btn-white {
  @apply bg-white text-black border-2 border-black rounded font-mono font-bold px-5 py-3 inline-block shadow-[3px_3px_0_-1px_#000,_3px_3px_0_#000] transition-all duration-150 ease-in-out;
  text-shadow: none;

  &:hover {
    @apply shadow-[0_0_0_-1px_#fff,_0_0_0_#fff] translate-x-[3px] translate-y-[3px];
  }
}

.squiggle {
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-image: url('/images/svg/s1.svg');
  }
}

.dropdown {
  @apply border border-black rounded-sm bg-white px-4 py-1;
  @apply dark:border-white dark:bg-[#131313];
}


.post-card-title {
  @apply inline;

  &:hover {
    @apply shadow-[inset_0_-0.5em_0_0] shadow-blue dark:shadow-pink;
  }
}

.hover-shadow {
  @apply inline;
  @apply transition-all duration-150 ease-in-out;

  &:hover {
    @apply shadow-[inset_0_-0.5em_0_0] shadow-blue dark:shadow-pink;
  }
}

.strikethrough {
  @apply relative z-10;

  &::before {
    content: '';
    @apply h-[.4em] bg-blue absolute top-1/2 bottom-1/2 -left-3 -right-3 z-[-1] my-auto;
  }
}

.pixelHeart-logo {
    animation-play-state: paused;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    .pixel-block {
      @apply transition-all duration-300 ease-in-out;
    }
    &:hover {
      animation-play-state: running;
      .pixel-block.b-0 {
        @apply fill-pink;
      }
      .pixel-block.b-1 {
        @apply fill-aqua;
      }
      .pixel-block.b-2 {
        @apply fill-blue;
      }
    }
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }

    50% {
      transform: translate(0, 15px);
    }

    100% {
      transform: translate(0, -0px);
    }
  }

.navbar-toggler {
  transition: all .7s ease-in-out;

  .icon-bar {
    @apply bg-black dark:bg-white;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
    width: 28px;
    height: 4px;
    border-radius: 1px;
    margin: 5px 0;

    &:nth-child(3) {
      width: 20px;
    }
  }
}

.site-header-nav {
  @apply fixed top-0 bottom-0 right-0 z-40 bg-pink text-white w-[90%] lg:w-[50%] translate-x-full duration-100 ease-in-out transition-all; 
  .nav-wrapper {
    @apply flex flex-col items-start max-w-lg mx-auto justify-center h-full px-8 lg:px-0;
    .nav {
      @apply flex flex-col items-start;
    }
    .nav-item {
      @apply text-xl md:text-3xl font-bold text-white uppercase bg-black my-1 px-3 duration-100 ease-in-out transition-all;

      &:hover {
        @apply text-pink;
      }
    }
  }
}

.nav-is-active {
  .site-header-nav {
      @apply translate-x-0;
  }
  .navbar-toggler {
    transition: transform .3s;
    .icon-bar {
      transition: ease all .3s;
      margin: 6px 0;
    }

    .icon-bar:nth-child(1) {
      transform: rotate(45deg) translateX(0px);
      transform-origin: bottom left;
    }
    .icon-bar:nth-child(2) {
      opacity: 0;
    }
    .icon-bar:nth-child(3) {
      transform: rotate(-45deg) translateX(0px);
      transform-origin: top left;
      width: 28px;
    }
    &:hover {
      .icon-bar {
        opacity: 1;
        margin: 5px -4px;
        transform: rotate(0deg) translate(0px, 0px);
      }
    }
  }
}

.post-full-image img {
  @apply mx-auto;
}

.post-card-primary-tag {
  @apply underline underline-offset-2 decoration-blue;
}

.promo-unit {
  @apply relative mb-28 py-28 text-white dark:text-black;

  &::before {
    @apply bg-black dark:bg-white;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: skewY(-2deg);
      z-index: 0;
  }
}

.nav-item {
  .nav-link {
    @apply relative;
    &::before {
      @apply absolute text-3xl opacity-0 transition-all duration-75 ease-in-out;
    }

    &:hover::before {
      @apply opacity-100;
    }
  }

  &.nav-home {
    .nav-link {
      &::before {
        @apply -bottom-3.5 -right-8;
        content: "🏠";
      }
    }
  }
  &.nav-about {
    .nav-link {
      &::before {
        @apply -bottom-3.5 -left-8;
        content: "👀";
      }
    }
  }
  &.nav-contact {
    .nav-link {
      &::before {
        @apply bottom-3.5 -right-8;
        content: "✉️";
      }
    }
  }   
    &.nav-personal.projects {
      .nav-link {
        &::before {
          @apply -bottom-3.5 -left-8;
          content: "🧑‍💻";
        }
      }
    }
    &.nav-client.work {
      .nav-link {
        &::before {
          @apply -bottom-3.5 -left-8;
          content: "👔";
        }
      }
    }
    &.nav-consulting {
      .nav-link {
        &::before {
          @apply -bottom-3.5 -right-8;
          content: "💁";
        }
      }
    }
}

pre {
  border-radius: .3em;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
  background: #073642;
}