html,
body {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  @apply bg-cloud-white text-midnight-black transition duration-300 ease-in-out antialiased ;
}

#page {
  @apply dark:bg-midnight-black dark:text-white;
}

.container {
  @apply mx-auto px-4 lg:px-8 relative z-10;
}

.container-inner {
  @apply p-3 md:p-8 lg:p-16 relative z-20;
}

.container-border {
  @apply border-t-2 border-l-2 border-r-2 md:border-t-8 md:border-l-8 md:border-r-8 lg:border-t-16 lg:border-l-16 lg:border-r-16;
}

.container-intro {
  @apply relative z-10 max-w-4xl mx-auto my-11 px-4 lg:px-0;
}

.container-content {
  @apply relative z-10 max-w-4xl mx-auto py-12 pt-22 lg:pt-42 px-4 lg:px-0;
  &.gh-canvas {
    @apply px-0;
  }
}

.background-image {
  @apply fixed inset-0 z-0;

  img {
    @apply object-cover w-full h-full;
  }
}

.post-card-primary-tag {
  @apply font-mono uppercase underline underline-offset-2;
}

.swiper-slide {
  opacity: 0;

  &.swiper-slide-active {
    opacity: 1;
  }
}

.stack {
  @apply border border-black text-black p-5 lg:p-11 w-full relative rounded-sm z-10 antialiased bg-white mb-11;
  @apply dark:border-white dark:bg-[#131313] dark:text-white;
  @apply shadow-[20px_20px_0_-1px_#fff,_20px_20px_0_#191a1b,40px_40px_0_-1px_#fff,40px_40px_0_#191a1b];
  @apply dark:shadow-[20px_20px_0_-1px_#131313,_20px_20px_0_#fff,40px_40px_0_-1px_#131313,40px_40px_0_#fff];
}

.stacked-sm {
  @apply bg-white border border-black text-black p-5 lg:p-11 w-full relative rounded-sm z-10 antialiased;
  @apply dark:border-white dark:bg-[#131313] dark:text-white;
  @apply shadow-[10px_10px_0_-1px_#fff,_10px_10px_0_#000];
  @apply dark:shadow-[10px_10px_0_-1px_#131313,_10px_10px_0_#fff];
  @apply transition-all duration-150 ease-in-out;
}

.image-logo-wrapper img {
  @apply invert dark:filter-none dark:invert-0;
}

.squiggle {
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-image: url('/images/svg/s1.svg');
  }
  &.s3 {
    &::after {
      background-image: url('/images/svg/s3.svg');
    }
  }
  &.s4 {
    &::after {
      background-image: url('/images/svg/s4.svg');
    }
  }
  &.s12 {
    &::after {
      background-image: url('/images/svg/s12.svg');
    }
  }
}

.squiggle-static {
  position: relative;
  &::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-image: url('/images/svg/s2.svg');
  }
}

.promo-unit {
  @apply relative mb-28 py-28 text-white dark:text-black;

  &::before {
    @apply bg-black dark:bg-white;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: skewY(-2deg);
      z-index: 0;
  }
}


.post-full-image {
  img {
    @apply w-full mx-auto max-h-[700px] object-cover;
  }
}

.featured-image-blob {
  mask-image: url('/images/svg/featured_image_blob.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  @apply absolute left-8 right-8 lg:left-0 lg:right-0 top-3 md:top-12 w-auto h-full z-10 mx-auto max-w-3xl;
}

.layout-fullbleed {
  .page-full-image {
    @apply mx-auto max-w-2xl absolute inset-0 h-full mix-blend-multiply z-[2] opacity-35 pointer-events-none;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
}

.tag-list {
  @apply mb-11;
  .tag-btn {
    @apply inline-block mr-2.5 mb-5;
    .tag-link {
      @apply bg-black dark:bg-zinc-800 text-white p-2;
    }
  }
}