---
const { title, excerpt, className } = Astro.props;

// Get length of title
const titleLength = title.length;
const h1Class = titleLength < 25 ? "h1-xl" : "h2";
---

<header class="page-full-header mb-8">
  <h1 class={`text-shadow-md ${className}`}>{title}</h1>
  {
    excerpt && (
      <p class="mt-5 max-w-4xl text-xl mx-auto text-balance">{excerpt}</p>
    )
  }
</header>
