---
import { Image } from "astro:assets";
---

<section class="tag-color-scheme-d py-18 lg:py-32 px-8">
  <h2 class="h1 uppercase text-center mb-8 text-shadow-sm">
    <span>Consulting</span>
  </h2>

  <div class="text-lg max-w-4xl mx-auto px-8 mb-8 text-center">
    <p>
      I offer personalized consulting and web services for developers and
      designers looking to build and launch websites or web apps. Whether you’re
      refining an idea, troubleshooting technical issues, or creating something
      from scratch, I’ll help you make meaningful progress and achieve your
      goals. Each package includes a detailed critique of your project and the
      opportunity to collaborate directly with me to improve functionality,
      optimize performance, and bring your vision to life. With over two decades
      of experience, I’m here to guide you through every step of your journey.
    </p>
  </div>

  <div class="max-w-lg mx-auto mb-11">
    <div class="px-8 text-center">
      <a class="btn btn-lg mx-auto" href="/consulting"> Learn More </a>
    </div>
  </div>
</section>
