---
import { Image } from "astro:assets";
---

<section class="section section-newsletter">
  <div class="relative tag-color-scheme-i p-11">
    <div class="max-w-xl py-16 mx-auto newsletter-inner">
      <div class="text-center mb-8">
        <h2 class="h6">Newsletter</h2>
        <p class="text-lg">Want to keep up with my latest updates?</p>
      </div>

      <script
        src="/scripts/signup-form.min.js"
        data-button-color="#15171A"
        data-button-text-color="#FFFFFF"
        data-site="https://newsletter.underlost.net/"
        data-locale="en"
        is:inline
        async></script>

      <div class="mt-8">
        <Image
          src="/images/svg/catpaw.svg"
          alt="cat paw sketch"
          width={50}
          height={50}
          class="block lg:ml-auto ml-auto -rotate-12 invert filter-none"
        />
      </div>
    </div>
  </div>
</section>
