---
import PortfolioCard from "@/components/entries/EntryPortfolioCard.astro";
import { getAllPortfolioPages } from "@/utils/ghost";

const { title } = Astro.props;
const posts = await getAllPortfolioPages();
---

<section class={`px-4 lg:px-8 py-16`}>
  {title && <h2 class="h1 text-center uppercase">{title}</h2>}
  <div class="max-w-5xl mx-auto -translate-y-4 lg:-translate-y-6">
    <div class="px-4 lg:columns-2 gap-11 mb-11">
      {posts.map((post: any, i: any) => <PortfolioCard entry={post} num={i} />)}
    </div>
  </div>
</section>
