---
import Aside from '@/components/common/Aside.astro'

const { posts, collectionPath } = Astro.props
---

<section class={`px-4 lg:px-8 pt-24 pb-16`}>
  {posts.map((post: any, i: any) => <Aside post={post} num={i} collectionPath={collectionPath} />)}
</section>
