<header role="masthead" id="underlost-info" class="site-head fadeRight">
    <div class="site-head-inner">
        <a id="logo" href="/"><img src="/assets/img/logo.png" width="32" height="32" alt="underlost logo"></a>
        <h1><a href="{{site.site}}" rel="home">Underlost</a></h1>
    	<p>By <a href="/about/">Tyler Rilling</a></p>
    </div>
    <nav class="site-nav vertical">
        <ul class="sections-nav list-unstyled">
            <span class="selection"></span>
            <li class="home-url selected">
                <a class="pjax" data-section="home" href="/"><strong>Home</strong></a>
            </li>
            <li class="colophon-nav">
                <a class="pjax" data-section="colophon" href="/about/"><strong>Colophon</strong></a>
            </li>
            <li class="">
                <a class="pjax" data-section="works" href="/works/"><strong>Selected Works</strong></a>
            </li>
            <li class="">
                <a class="pjax" data-section="contact" href="/contact/"><strong>Contact</strong></a>
            </li>
        </ul>
    </nav>

</header>
