<header role="masthead" id="underlost-info" class="site-head fadeRight layout-foreground">
    <div class="site-head-inner">
        <a class="logo" href="/"><img src="/assets/img/logo.png" width="32" height="32" alt="underlost logo"></a>
        <h1 class="site-title"><a href="{{site.site}}" rel="home">Tyler Rilling // Underlost</a></h1>
    </div>
    <nav class="site-nav vertical">
        <ul class="sections-nav list-unstyled">
            <span class="selection"></span>
            <li class="home-url selected">
                <a class="pjax site-nav-home" data-section="home" href="/"><strong>Home</strong></a>
            </li>
            <li class="about-url">
                <a class="pjax site-nav-about" data-section="colophon" href="/about/"><strong>About</strong></a>
            </li>
            <li class="portfolio-url">
                <a class="pjax site-nav-portfolio" data-section="works" href="/portfolio/"><strong>Selected Works</strong></a>
            </li>
            <li class="contact-url">
                <a class="pjax site-nav-contact" data-section="contact" href="/contact/"><strong>Contact</strong></a>
            </li>
        </ul>
    </nav>

</header>
