<nav class="site-nav">
  <ul class="sections-nav list-inline text-left py-3">
    <li class="about-url selected list-inline-item">
      <a class="pjax site-nav-about" data-section="about" href="/">About</a>
    </li>
    <li class="portfolio-url list-inline-item">
      <a class="pjax site-nav-portfolio" data-section="works" href="/portfolio/">Selected Works</a>
    </li>
    <li class="contact-url list-inline-item">
      <a class="pjax site-nav-contact" data-section="contact" href="/contact/">Contact</a>
    </li>
    <li class="job-url list-inline-item">
      <a class="pjax site-nav-work" data-section="work" href="/work/">Availability</a>
    </li>
  </ul>
</nav>
