<ul id="underlost-social" class="list-inline">
    <li><a href="http://twitter.com/underlost"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li><a href="http://github.com/underlost"><i class="fa fa-github fa-lg"></i></a></li>
    <li><a href="http://www.flickr.com/photos/underlost/"><i class="fa fa-flickr fa-lg"></i></a></li>
    <li><a href="http://instagram.com/underlost/"><i class="fa fa-instagram fa-lg"></i></a></li>
    <li><a href="http://facebook.com/underlost/"><i class="fa fa-facebook-square fa-lg"></i></a></li>
    <li><a href="http://pinterest.com/underlost"><i class="fa fa-pinterest fa-lg"></i></a></li>
    <li><a href="http://steamcommunity.com/id/underlost"><i class="fa fa-steam fa-lg"></i></a></li>
</ul>
