<ul class="underlost-social list-inline">
    <li><a href="http://medium.com/@underlost"><i class="fa fa-medium fa-fw"></i></a></li>
    <li><a href="http://twitter.com/underlost"><i class="fa fa-twitter fa-lg fa-fw"></i></a></li>
    <li><a href="http://github.com/underlost"><i class="fa fa-github fa-lg fa-fw"></i></a></li>
    <li><a href="http://www.flickr.com/photos/underlost/"><i class="fa fa-flickr fa-lg fa-fw"></i></a></li>
    <li><a href="http://instagram.com/underlost/"><i class="fa fa-instagram fa-lg fa-fw"></i></a></li>
    <li><a href="https://facebook.com/underlost"><i class="fa fa-facebook-square fa-lg fa-fw"></i></a></li>
    <li><a href="http://pinterest.com/underlost"><i class="fa fa-pinterest fa-lg fa-fw"></i></a></li>
    <li><a href="http://steamcommunity.com/id/underlost"><i class="fa fa-steam-square fa-lg fa-fw"></i></a></li>
</ul>
