/* Author Archives
/* ---------------------------------------------------------- */

.author-header {
    p {
      font-size: 1.2rem;
      line-height: 1.4;
    }
}

.author-header-image {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    overflow: hidden;
}

.author-header-meta {
    display: flex;
    margin: 1rem 0 0 0;
}

.author-header-item {
    display: block;
    padding: 2px 10px;
    &:first-child {
        padding-left: 0;
    }
}

@media (max-width: 500px) {
    .author-header-image {
        height: 100px;
        width: 100px;
    }
}
