.kg-bookmark-card {
  width: 100%;
  background-color: $latte;
  text-decoration: none;
  * {
    text-decoration: none;
  }
}
.kg-bookmark-container {
  //padding: 2rem 0;
  display: block;
  border-width: 0 !important;
  display: flex;

  .kg-bookmark-content {
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 100%;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 30px 20px;
  }
  .kg-bookmark-thumbnail {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-width: 33%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .kg-bookmark-title {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 900;
  }

  .kg-bookmark-metadata {
    font-size: .9rem;
    font-weight: bold;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 5px;
    text-transform: uppercase;
  }

  .kg-bookmark-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }

  .kg-bookmark-publisher {
    //overflow: hidden;
    max-width: 240px;
    white-space: nowrap;
    display: block;
    line-height: 1.65em;
  }
  .kg-bookmark-author~.kg-bookmark-publisher {
    padding-left: 1rem;
  }

  .kg-bookmark-description {
    @apply hidden;
  }
}
