.btn-underline {
  @apply relative font-bold text-lg;
  span {
    @apply relative z-10;
  }

  &::after {
    transition: ease all .3s;
    content: '';
    bottom: .25rem;
    right: .75rem;
    width: 100%;
    height: 8px;
    @apply bg-caramel absolute
  }

  &:hover {
    @apply no-underline;

    &::after {
      height: 15px;
    }
  }
}

.has-arrow {
  .arrow {
    transition: ease all .3s;
  }
  &:hover {
    .arrow {
      @apply translate-x-1;
    }
  }
}

.btn-block-wrapper {
  @apply relative;

  &::after {
    content: '';
    @apply absolute inset-0 block w-full h-full bg-black transition duration-150 ease-out rounded opacity-70;
  }

  .btn-block {
    @apply block w-full border-2 px-4 py-4 no-underline hover:text-black hover:border-black bg-creame rounded relative z-20;
  }

  .btn-title {
    @apply font-bold text-lg block;
  }

  &:hover {
    &::after {
      @apply translate-x-2 translate-y-3;
    }
  }
  
}