.btn-underline {
  @apply relative font-bold text-lg;

  .arrow {
    transition: ease all .3s;
  }

  span {
    @apply relative z-10;
  }

  &::after {
    transition: ease all .3s;
    content: '';
    position: absolute;
    bottom: .25rem;
    right: .75rem;
    width: 100%;
    height: 8px;
    background-color: $platinum;
  }

  &:hover {
    text-decoration: none;
    &::after {
      height: 15px;
    }
  }

  &.has-arrow {
    &:hover {
      .arrow {
        transform: translateX(1rem);
      }
    }
  }
}