.btn-underline {
  @apply relative font-bold text-lg dark:hover:text-green z-10;
  span {
    @apply relative z-10;
  }

  &::after {
    content: '';
    bottom: .25rem;
    right: .75rem;
    height: 8px;
    @apply absolute transition-all ease-in-out duration-300 w-full bg-blue dark:bg-slate -z-10;
  }

  &:hover {
    @apply no-underline;

    &::after {
      height: 15px;
    }
  }
}

.has-arrow {
  .arrow {
    transition: ease all .3s;
    path {
      @apply dark:fill-green;
    }
    &.dark {
      path {
        @apply fill-black;
      }
    }
  }
  &:hover {
    .arrow {
      @apply translate-x-2;

      path {
        @apply fill-pink;
        @apply dark:fill-green;
      }
      &.dark {
        path {
          @apply fill-black;
        }
      }
    }
  }
}

.btn-block-wrapper {
  @apply relative;

  &::after {
    content: '';
    @apply absolute inset-0 block w-full h-full bg-blue transition duration-150 ease-out rounded dark:opacity-80;
  }

  .btn-block {
    @apply block w-full border-2 px-4 py-4 no-underline hover:text-black hover:border-black rounded relative z-20 bg-vanilla;
    @apply dark:bg-slate-dark dark:border-slate-dark dark:text-white dark:hover:text-white;
  }

  .btn-title {
    @apply font-bold text-lg block;
  }

  .btn-description {
    @apply block text-sm;
  }

  &:hover {
    &::after {
      @apply translate-x-2 translate-y-3;
    }
  }
}

.btn {
  &.btn-primary {
    @apply bg-black text-white px-4 py-2 hover:text-white;
    @apply dark:bg-blue dark:text-black dark:hover:text-almost-black;
  }
}