.site-footer-nav .nav {
  @apply lg:flex flex-wrap text-center mx-auto lg:justify-center pb-5;
  .nav-item {
    @apply px-5 text-sm py-1;
    &:hover {
      @apply underline;
    }
  }
}

.page-bottom {
  min-height: 45px;
  width: 100%;
  background-size: cover;
  @apply bg-vanilla dark:bg-slate-dark;
}