.site-brand {
  .logoTitle,
  .pixelHeart {
    transition: all .5s ease-in-out;
  }
  &:hover {
    .logoTitle {
      fill: $primary;
    }
    .pixelHeart {
      fill: $secondary;
    }
  }
}

.page-header {
  @apply mb-5 pb-5 px-4 py-5 lg:px-16 lg:py-16 bg-latte overflow-hidden lg:overflow-visible;
}