.site-title {
  @apply block font-sans text-2xl lg:text-4xl max-w-6xl duration-700 ease-linear leading-tight;
  font-stretch: 150%;
  padding-right: 4rem;
  &::after {
    content: '* * *';
    display: block;
    width: 200px;
    @apply text-black dark:text-pink text-8xl font-black mt-8;
  }
  &:hover {
    font-stretch: 130%;
    font-weight: 900;
    padding-right: 0rem;
  }
}