.site-title {
  @apply block font-sans text-2xl lg:text-4xl max-w-6xl duration-700 ease-linear leading-tight mb-5 py-3 lg:py-11;
  font-stretch: 150%;
  padding-right: 4rem;
  &:hover {
    font-stretch: 130%;
    font-weight: 900;
    padding-right: 0rem;
  }
}