

.navbar-toggler {
  transition: all .7s ease-in-out;
  .icon-bar {
    @apply bg-black dark:bg-slate;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
    width: 28px;
    height: 4px;
    border-radius: 1px;
    margin: 5px 0;
    &:nth-child(3) {
      width: 20px;
    }
  }
}

.site-head {
  @apply relative z-50;
  .site-nav {
    .nav {
      li {
        a {
          @apply transition duration-150 ease-in-out text-orange font-black text-3xl md:text-5xl block hover:text-pink hover:translate-x-2;
          &.active {
            @apply text-pink;
          }
        }
      }
    }
  }
}

.site-menu {
  transform: translateX(100%);
  @apply bg-purple text-orange transition duration-500 ease-in-out border border-black;
}
.page.nav-is-active {
  .site-menu {
    transform: translateX(0);
    transition: transform .3s;
  }
  .navbar-toggler {
    transition: transform .3s;
    .icon-bar {
      transition: ease all .3s;
      margin: 6px 0;
      @apply bg-orange;
    }

    .icon-bar:nth-child(1) {
      transform: rotate(45deg) translateX(0px);
      transform-origin: bottom left;
    }
    .icon-bar:nth-child(2) {
      opacity: 0;
    }
    .icon-bar:nth-child(3) {
      transform: rotate(-45deg) translateX(0px);
      transform-origin: top left;
      width: 28px;
    }
    &:hover {
      .icon-bar {
        opacity: 1;
        margin: 5px -4px;
        transform: rotate(0deg) translate(0px, 0px);
      }
    }
  }
}