.h1 {
  @apply text-3xl font-semibold;
}

.h2 {
  @apply text-2xl font-semibold;
  font-stretch: 150%;
}

.h3 {
  @apply text-lg font-semibold;
  font-stretch: 150%;
}

.title-h1 {
  @apply lg:text-6xl text-4xl font-black;
  font-stretch: 175%;
}

.title-h2 {
  @apply text-3xl;
}

.title-h3 {
  @apply text-2xl;
}

.subtitle {
  @apply font-sans text-lg font-light uppercase;
  font-stretch: 0%;
}

.reading-time {
  @apply font-bold;
  font-stretch: 0%;
}

.tag-item {
  @apply uppercase border px-2 py-1 mr-2 inline-block hover:bg-green;
  @apply dark:hover:bg-purple-slate dark:hover:text-pink;
}

.lead, .kg-callout-text {
  @apply font-sans font-light text-xl;
  line-height: 1.6;
}

.post-text {
  .post-text-excerpt {
    @apply opacity-50;
  }
  &:hover {
    .post-text-excerpt {
      @apply opacity-100;
    }
  }
}



.text-wide {
  font-stretch: 150%;
}

.text-narrow {
  font-stretch: 0%;
}

.highlight {
  font-weight: 900;
  position: relative;
  z-index: 5;
  white-space: nowrap;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1rem;
    width: 100%;
    @apply bg-blue dark:bg-purple-slate;
    z-index: -1;
  }
  span {
    @apply z-10 relative;
  }

  &.highlight-right {
    &::after {
      left: auto;
      right: -2.5rem;
    }
  }

  &.primary {
    &::after {
      @apply bg-green dark:bg-purple-slate;
    }
  }
  &.secondary {
    &::after {
      @apply bg-pink dark:bg-purple-slate;
    }
  }
}

.content-body {
  @apply text-base leading-normal font-light; 

  p {
    a {
      @apply underline;
      &:hover {
        @apply text-pink;
      }
    }
  }
  p ~ p {
    @apply mt-5;
  }
  p~blockquote {
    @apply mt-8;
  }

  h2, h3, h4, h5, h6 {
    @apply font-black mt-8 mb-2;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  
}

.excerpt {
  p~p {
    @apply mt-4;
  }
  p~blockquote {
    @apply mt-2;
  }
}

blockquote{
  @apply border-l-8 border-green pl-4 font-light mb-5 relative;
}

.kg-blockquote-alt {
  font-stretch: 150%;
  @apply text-4xl border-l-0 pl-0;
  @apply dark:text-pink;

  &::before {
    content: '“';
    @apply text-8xl block font-black h-4 -z-10 text-green;
    @apply dark:text-purple dark:opacity-25;
  }
}

.style-3d {
  -webkit-text-fill-color: transparent;
  position: relative;
  &:before, &:after {
    position: absolute;
    left: 0;
    right: 0;
    font-stretch: 175%;
    @apply text-6xl font-black;
  }
  &:before {
    content: attr(data-text);
    -webkit-text-stroke: 2px #FF00BB;
    transform: translate3d(-3px, -5px, 0);
  }
  &:after {
    content: attr(data-text);
    -webkit-text-stroke: 2px #00FFEE;
  }
}