@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html, body {
  @apply bg-light dark:bg-purple-dark dark:text-purple-light transition duration-150 ease-in-out antialiased;
}

@import "ghost/content.scss";
@import "./components/sitelogo";
@import "./components/readfirstblock";
@import "./components/articlelistitem";
@import "./components/articlehero";

@import '_header.scss';
@import '_menu.scss';
@import '_homepage.scss';
@import '_portfolio.scss';
@import '_bookmark.scss';
@import '_author.scss';

@import '_text.scss';
@import '_card.scss';
@import '_button.scss';
@import '_footer.scss';
@import '_code.scss';
@import '_glitch.scss';