@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

html, body {
  @apply bg-light transition duration-300 ease-in-out antialiased;
  @apply dark:bg-almost-black dark:text-light; 
}

.site-main {
  min-height: 60vh;
}

@import "ghost/content.scss";
@import "./components/sitelogo";
@import "./components/readfirstblock";
@import "./components/articlelistitem";
@import "./components/articlehero";
@import "./components/popularblock";

@import '_header.scss';
@import '_menu.scss';
@import '_homepage.scss';
@import '_portfolio.scss';
@import '_bookmark.scss';
@import '_author.scss';
@import '_twitter.scss';

@import '_text.scss';
@import '_card.scss';
@import '_button.scss';
@import '_footer.scss';
@import '_code.scss';
@import '_glitch.scss';

  .blinker {
    display: inline-block;
    transform: scale(1.5) translateY(-1px);
    animation: blinker 1.2s infinite;
    @apply w-3 h-4 bg-white;
  }
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.squiggle{
  position: relative;
  &::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-image: url('/images/svg/s1.svg');
  }
}