---
import type { Tag } from "@tryghost/content-api";
import { getAllTags, getPostsByTag, getPagesByTag } from "@/utils/ghost";
import PageHeader from "@/components/pages/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";
import EntryGrid from "@/components/entries/EntryGrid.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const pages = await getAllTags();

  return pages.map((page) => {
    return {
      params: {
        slug: page.slug,
      },
      props: {
        page: page,
      },
    };
  });
}

const page = Astro.props.page as Tag;
const posts = await getPostsByTag(page.slug);
const pages = await getPagesByTag(page.slug);

// Merge posts and pages
const allPosts = [...posts, ...pages];
---

<Layout
  bodyClass={`page-template page-tag tag-color-scheme-c layout-fullbleed`}
  title={page?.og_title || page?.name || "tag"}
  description={page?.og_description ||
    page?.meta_description ||
    page?.description}
  ogImage=""
  twitterImage=""
>
  <article class="layout-fullbleed">
    <div class="container lg:pt-24 mb-11 my-11 relative lg:min-h-[300px]">
      {
        page.feature_image && (
          <figure class="page-full-image">
            <Image
              src={page.feature_image}
              alt={page.name || "Photo related to tag"}
              loading="eager"
              height={800}
              width={800}
            />
          </figure>
        )
      }
      <div class="max-w-5xl mx-auto relative text-center">
        <PageHeader
          title={page?.name}
          excerpt={page?.description}
          className="h1"
        />
      </div>
    </div>

    <div class="inner py-11">
      <div class="max-w-lg mx-auto my-16 squiggle s3 px-8"></div>
      <EntryGrid
        title=""
        className=""
        posts={allPosts}
        collectionPath="writing/"
      />

      <footer>
        <div class="text-center">
          <a class="btn" href="/tag"> View all tags </a>
        </div>
      </footer>
    </div>
  </article>
</Layout>
