---
import dayjs from 'dayjs'
import { renderHtmlFromAst } from '@/utils/renderHtmlAst'

const { post } = Astro.props
const published_at = post.published_at
const updated_at = post.updated_at
const isMembersOnly = (post.tags ?? []).some((tag: { name: string }) => tag.name === '#members')
const html = await renderHtmlFromAst(post.html, isMembersOnly)
---

<aside class="gh-aside">
  <div class="single-content gh-content kg-canvas">
    <div class="kg-side-bar time-line">
      <div class="body-1 single-meta meta-sticky-top">
        <span class="single-meta-item single-meta-length">
          <p class="aanchor-indent"></p>
          {
            published_at && (
              <span>
                <time class="byline-meta-date" datetime={published_at || ``}>
                  <span class="sr-only">Written</span> {dayjs(published_at || ``).format(`MMMM D, YYYY`)}
                </time>

                {updated_at && (
                  <>
                    <time class="byline-meta-date sr-only" datetime={updated_at || ``}>
                      Last updated {dayjs(updated_at || ``).format(`MMMM D, YYYY`)}
                    </time>
                  </>
                )}
              </span>
            )
          }
        </span>
      </div>
    </div>
    <div class="timeline-content">
      {post.excerpt && (
        <p class="gh-aside-excerpt-text mb-4">{post.excerpt}</p>
      )}
      <div class="gh-content" set:html={html} />
    </div>
  </div>
</aside>
