html {
  font-family: "Times New Roman", serif;
  font-size: 1.1em;
  line-height: 1;
  color: black;
}

body {
  background-color: pink;
  background-image: url('img/main-background.gif');
}

// Sections
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

header {
  background-color: purple;
}

nav {
  background-color: LightGreen;
}

main {
  margin: 0 auto;
  width: 60%;
}

/* =========== STUPID MEDIA QUERIES =========== */
/* Gotta look good on mobile too */
@media (max-width: 600px) {
  body {
    font-size: 1.2em;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  img {
    width: 60%;
  }
}

/* Blockquote, code and pre */
blockquote {
  background-color: AliceBlue;
  background-image: url('img/quote-background.jpg');
  width: 50%;
  padding: 10px;
  border: 5px solid red;
}

pre, xmp {
  background-color: CornflowerBlue;
  background-image: url('img/code-background.gif');
  padding: 20px;
  border: 5px solid black;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
  background-color: white;
}
