blink {
  color: LightGoldenRodYellow;
}

/* Blink, CSS3 valid */
.blink {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2, start);
  font-size: 2em;
}

@keyframes blink {
  80% {
    visibility: hidden;
  }
}
