/* Input */
input {
  font-size: 16px;
  font-family: "Comic Sans MS", serif;
  border: 2px solid yellow;
  background-color: black;
  padding: 6px;
}

input, select, textarea{
    color: yellow;
}

textarea:focus, input:focus {
    color: yellow;
}

/* Buttons */
button {
  border: 6px ridge #bbb;
  font-family: "Comic Sans MS", serif;
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
}
