marquee {
  font-size: 2em;
  color: DarkViolet;
  line-height: 2em;
  font-weight: bolder;
}

/* Marquees (CSS3 valid) */
.marquee {
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .scrolled {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: left;
    -moz-animation: marquee 5s linear infinite alternate;
    -webkit-animation: marquee 5s linear infinite alternate;
    animation: marquee 5s linear infinite alternate;
  }
}

@-moz-keyframes marquee {
  0%   { -moz-transform: translateX(70%); }
  100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes marquee {
  0%   { -webkit-transform: translateX(70%); }
  100% { -webkit-transform: translateX(0%); }
}
@keyframes marquee {
  0%   {
    -moz-transform: translateX(70%);
    -webkit-transform: translateX(70%);
    transform: translateX(70%);
  }
  100% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
