/* =========== TEXT =========== */
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Sans MS", serif;
  color: yellow;
}

h1 {
  text-shadow: 2px 2px 8px red;
}

h3 {
  font-size: 2em;
  color: DarkViolet;
  font-family: "Times New Roman", serif;
  line-height: 50px;

}

/* Bold, italic */
b, strong {
  color: blue;
}

i, em {
  color: blue;
}

/* Marked text */
mark {
background-color: yellow;
color: red;
}

/* Small text */
small {
  font-size: 90%;
}

/* Links */
a:link {
  color: DarkTurquoise;
}

a:visited {
  color: Purple;
}

a:active {
  color: Aqua;
}

a:hover {
  color: Brown;
}
