.pico-sitehead {
    background-color: $latte;
    border-bottom: 1px solid darken($latte, 15%);
    margin-bottom: 5rem;
    padding-bottom: 2rem;
}

.home-template {
    .gh-head {
        background-color: $latte;
    }
}
