html {
    width: 100%;
    height: 100%;
    background-color: @body-bg;
    background-image: url('../img/pattern.png');

}

a {
    -webkit-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
    -moz-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
    -ms-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
    -o-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
    transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
}

#underlost-info {
	position: fixed;
	left: 25px;
	right: 25px;
	top: 25px;
	z-index: 5000;
}

#logo {
	float: left;
}

#logo:hover {
	opacity: .75;
}

#underlost-contact {
	display: block;
	float: right;

    a {color: #f2f2f2;}
    a:hover {text-decoration: none;}

    li {
        text-align: right;
        opacity: .75;
        font-size: 15px;
        font-weight: 400;
        margin-top: 3px;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
    }

    li:hover {
        opacity: 1;
    }
}

#underlost-social {

    z-index: 100;
    margin: 20px auto 0;

    a {
        color: #f2f2f2;
        padding: 0 10px 0 0;
        opacity: .5;
    }

    a:hover { opacity: .75; }

}

h1.heading {
    font-family: @font-family-serif;
    font-size: 64px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
    mask-image: url('../img/mask.png');
    -webkit-mask-image: url('../img/mask.png');
    color: #eee;
}

#content {
	width: 100%;
	height: 100vh;
	z-index: 1;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);

    .panel{
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        clear: both;
        margin: 0;
        background-color:none;
        border-width:0;
        border-radius:0;
        -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
        box-shadow:0 1px 1px rgba(0,0,0,0.05)
    }
}

.main-panel {
    text-align: center;

    p {
        max-width: 640px;
        min-width: 200px;
        margin: 10px auto 0;
        color: #ebebeb;
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
    }

    .job-link {
        color: #fff;
        font-weight: 700;
        text-decoration: underline;
    }

    .job-link:hover {color: #ebebeb;}

    .btn-set {margin-top: 10px;}

}


/* @end */

.vertical {
	position: absolute;
	top: 25%;
	height: 400px;
    min-width: 200px;
    margin: 0 auto;
}

#top {
    background: url('../img/top.jpg') center center fixed;
    background-size: cover;
}

#Error404 {
    background: url('../img/error.jpg') center center;
    background-size: cover;
}

#contact {
    background: #2f3439 url('../img/contact.jpg') center center fixed no-repeat;
    background-size: cover;
}

.dark {
    background: #1a1a1a url('../img/dark_bg.jpg') center center fixed;
    background-size: cover;
}

.section-background-image {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
